<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${title}">Hello Spring Boot</h1>

<form method="post">
    <label><input placeholder="Title" type="text" name="title" required/></label>
    <br/>
    <label><textarea placeholder="Description..." name="description"></textarea></label>
    <br/>
    <label><input type="datetime-local" name="deadline"/></label>
    <br/>
    <input type="submit">
</form>
</body>
</html>