<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${title}">Hello Spring Boot</h1>

<form method="post">
    <label><input placeholder="Title" type="text" name="title" required/></label>
    <br/>
    <label><textarea placeholder="Description..." name="description"></textarea></label>
    <br/>
    <label><input type="datetime-local" name="deadline"/></label>
    <br/>
    <input type="submit">
</form>

<table border="1">
    <thead>
    <tr>
        <th>Id</th>
        <th>Title</th>
        <th>Deadline</th>
        <th>Action</th>
    </tr>
    </thead>
    <tr th:each="task: ${tasks}">
        <td th:text="${task.id}"></td>
        <td th:text="${task.title}" th:title="${task.description}"></td>
        <td th:text="${task.deadline}"></td>
        <td><a th:href="@{'/delete/'+${task.id}}">Delete</a> </td>
    </tr>
</table>
</body>
</html>